.create_container {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.create_thread_block {
    width: 900px;
    height: 800px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 1px solid grey;
    margin: 0;
    padding: 10px;
    box-shadow: 0px 20px 40px black;
}

.img_container {
    width: 100%;
    height: 300px;
    justify-content: center;
}

.thread_boys {
    height: 300px;
    width: 500px;
}

.warning_container {}

.warning_text {
    color: rgb(214, 214, 214);
}

.ref_rules {
    color: rgb(206, 134, 0);
    text-decoration: none;
}

.form_block {}

#title {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(85, 85, 85);
    transition: box-shadow 1s;
    resize: none;
}

#title:focus {
    outline: none;
    box-shadow: 0px 20px 30px black;
}

#description {
    border-radius: 10px;
    width: 100%;
    height: 125px;
    background-color: rgb(85, 85, 85);
    transition: box-shadow 1s;
    resize: none;
}

#description:focus {
    outline: none;
    box-shadow: 0px 20px 30px black;
}

#files_label {
    width: 100%;
    font-size: 20px;
    color: rgb(214, 214, 214);
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
    height: 140px;
    border: 3px dashed gray;
}

#files_label:hover {
    background-color: rgb(148, 55, 55);
    box-shadow: 0px 10px 20px black;
}

#files_loader {
    display: none;
}

#category_id {
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: rgb(214, 214, 214);
    background-color: rgb(85, 85, 85);
    text-align: center;
}

#submit_button {
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: rgb(214, 214, 214);
    background-color: rgb(85, 85, 85);
    transition: background-color, box-shadow 0.3s;
}

#submit_button:hover {
    background-color: rgb(148, 55, 55);
    box-shadow: 0px 10px 20px black;
}

.uploaded_img_container {
    display: inline-block;
}

.media {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    display: block;
    margin: 10px;
}