.content {
    display: flex;
    gap: 10px;
    color: rgb(214, 214, 214);
    align-items: flex-start;
}

.catalog_block {
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(44, 44, 44);
}

.duscussion_block {
    flex: 1;
}

.titleDiscussion {
    border: 1px solid grey;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 10px;
    width: 1000px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.deletedComment {
    font-style: italic;
    color: rgb(255, 153, 153);
}

.content_title {
    display: block;
}

.img_container {
    display: inline-block;
}

.img_container img,
video {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    display: block;
}

.img_name_text {
    display: block;
    text-align: center;
    color: rgb(254, 177, 36);
    font-size: 11px;
}

.imgs_block {
    display: flex;
    gap: 10px;
}

.comment_block {
    border: 1px solid grey;
    background-color: rgb(44, 44, 44);
    width: min-content;
    width: 800px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: all 1s;
}

.comment_info_block {
    display: flex;
    justify-content: space-between;
}

.comment_info_text_block {
    display: flex;
}

.comment_info_text {
    display: flex;
    justify-content: left;
    padding: 3px;
}

.comment_actions_block {
    display: flex;
    justify-content: left;
    padding: 5px;
}

.action_button_reply {
    padding: 0;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(125, 177, 114);
    transition: all 0.5s;
}

.action_button_reply:hover {
    background-color: rgb(0, 193, 0);
}

.action_button_report {
    padding: 0;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 162, 162);
    transition: all 0.5s;
}

.action_button_report:hover {
    background-color: red;
}

.action_img {
    vertical-align: text-top;
    height: 20px;
    width: 20px;
}

.comment_text_block {
    padding: 3px;
}

#imgs_block {
    display: flex;
    gap: 10px;
}

.uploaded_img_container {
    display: inline-block;
}

.media_loader {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    display: block;
    margin: 10px;
}

#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: transparent;
}

#modal_report_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 600px;
    height: 700px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 1px solid grey;
    display: none;
    margin: 0;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0px 20px 40px black;
    color: rgb(214, 214, 214);
}

#report_img {
    width: 400px;
    height: 250px;
}

#reportedOnId {
    display: none;
}


#reportedType {
    display: none;
}

#reason {
    border-radius: 10px;
    width: 100%;
    height: 270px;
    background-color: rgb(85, 85, 85);
    resize: none;
    overflow: auto;
    transition: box-shadow 1s;
    resize: none;
}

#reason:focus {
    outline: none;
    box-shadow: 0px 20px 30px black;
}

#modal_reply_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 600px;
    height: 750px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 1px solid grey;
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 20px 40px black;
    transition: top 0.3s ease, left 0.3s ease;
}

#modal_close_button_block {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
}

#modal_close_button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    transition: color 0.3s ease;
}

#modal_close_button:hover {
    color: red;
}

#img_vault_boys {
    display: flex;
    justify-content: center;
}

#be_nice_img {
    height: 230px;
    width: 200px;
}

#reply_form {
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
}

#replyed_to {
    color: rgb(214, 214, 214);
    margin: 0;
}

#comment_textarea {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(85, 85, 85);
    transition: box-shadow 1s;
    resize: none;
}

#comment_textarea:focus {
    outline: none;
    box-shadow: 0px 20px 30px black;
}

#uploader {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#imgs_loader {
    width: 100%;
    font-size: 20px;
    color: rgb(214, 214, 214);
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
    height: 140px;
    border: 3px dashed gray;
}

#imgs_loader:hover {
    background-color: rgb(148, 55, 55);
    box-shadow: 0px 10px 20px black;
}

#sub_button {
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    color: rgb(214, 214, 214);
    background-color: rgb(85, 85, 85);
    transition: background-color, box-shadow 0.3s;
}

#sub_button:hover {
    background-color: rgb(148, 55, 55);
    box-shadow: 0px 10px 20px black;
}

#modal_media {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 700px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 1px solid grey;
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 20px 40px black;
    color: rgb(214, 214, 214);
}

.media_info {
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.media {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 650px;
    object-fit: contain;
    display: none;
}

#bottom_actions_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    padding-top: 20px;
    padding-left: 230px;
    gap: 10px
}

#comment_thread_button {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(186, 186, 186);
    border: 1px solid gray;
    transition: all 0.5s;
    font-size: 20px;
}

#comment_thread_button:hover {
    background-color: rgb(142, 228, 139);
}

#updateDiscussionButton {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 2px;
    background-color: rgb(186, 186, 186);
    border-radius: 10px;
    border: 1px solid gray;
    object-fit: contain;
    overflow: hidden;
    transition: all 0.5s;
}

#updateDiscussionButton:hover {
    background-color: rgb(142, 228, 139);
}

#updateDiscussionImg {
    width: 100%;
    height: 100%;
}

.recaptcha_block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}