#threads_block {
    min-height: 462px;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.thread_card_ref {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

.thread_card {
    padding-top: 10px;
    text-align: center;
    position: relative;
    width: 250px;
    height: 420px;
    border: 1px solid grey;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
    z-index: 1;
    transform-origin: top;
}

.thread_card:hover {
    min-height: 420px;
    height: auto;
    transform: scale(1.4);
    z-index: 2;
}

.card_img {
    max-width: 230px;
    max-height: 230px;
    object-fit: contain;
    border-radius: 10px;
}

.threads_not_found {
    font-size: 30px;
    color: rgb(214, 214, 214);

}

.text {
    padding: 0;
    margin: 0;
}

.post_data {
    padding-top: 10px;
}

.card_text {
    padding: 0 5px 0 5px;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(85, 85, 85);
}

.card_desc {
    padding: 0 5px 0 5px;
    text-align: justify;
    font-size: 14px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.thread_card:hover .card_desc {
    display: block;
    overflow: visible;
}

.tools_block {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    text-align: center;
}

.tools {
    display: block;
    width: 700px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 10px;
}

#search {
    width: 70%;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    background-color: rgb(85, 85, 85);
}

#search:focus {
    outline: none;
}

#search_button {
    width: 80px;
}

#sort_by {
    height: 30px;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

#sort_by:focus {
    outline: none;
}

#create_thread_button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    color: rgb(214, 214, 214);
    background-color: rgb(125, 177, 114);
    transition: all 0.5s;
}

#create_thread_button:hover {
    background-color: rgb(0, 193, 0);
}

.spoiler {
    color: black;
    background-color: black;
}

.spoiler a {
    color: black;
    background-color: black;
}

.spoiler:hover {
    color: rgb(214, 214, 214);
    background-color: transparent;
}

.spoiler a:hover {
    color: orange;
    background-color: transparent;
}